.topnav {
    background-color: #583d72;
    overflow: hidden;
  }
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a {
    background-color: #ff8474;
    color: white;
  }
  
  .topnav a.direcionar {
    float:right
  }

  .usuario {
      text-align: center;
      align-self: center;
      color: snow;
  }